<h1>Cadastrar</h1>

<form action="/cadastrar" method="POST" class="auth-container">
  <div class="input-group input-group-sm mb-3">
    <span class="input-group-text" id="inputGroup-sizing-sm">Nome</span>
    <input type="text" name="nome" class="form-control" placeholder="Nome">
  </div>
  <div class="input-group input-group-sm mb-3">
      <span class="input-group-text" id="inputGroup-sizing-sm">Email</span>
    <input type="email" name="email" class="form-control" placeholder="Email">
  </div>
  <div class="input-group input-group-sm mb-3">
    <span class="input-group-text" id="inputGroup-sizing-sm">Senha</span>
    <input type="password" name="senha" class="form-control" placeholder="Senha">
  </div>
  <div class="input-group input-group-sm mb-3">
    <span class="input-group-text" id="inputGroup-sizing-sm">Confirmação da Senha</span>
    <input type="password" name="confirmsenha" class="form-control" placeholder="Confirmação da Senha">
  </div>
  <button type="submit" class="btn btn-primary">Cadastrar</button>
  <p>Já tem conta? <a href="/">Clique aqui!</a> </p>
</form>